input {
  width: 100%;
  min-height: var(--s4);
  text-align: right;
  border: var(--border-width) solid var(--strong-sub-color);
}

.operand {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-3);
}


.total-result {
  flex: 1 0 auto
}
.total-set-mark {
  flex: 0 1 auto;
  padding-right: var(--s-3);
}

.remove {
  padding: var(--s-5);
  flex: 0 0 auto;
  justify-self: center;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.remove:hover {
  background-color: var(--accent-color);
  color: var(--bgColor);
}
