button {
  width: 100%;
  height: var(--s4);
  text-align: center;

  border: var(--border-width) solid var(--strong-sub-color);
  /*border-radius: var(--s-5);*/

  background-color: var(--bgColor);
}

button:hover {
  background-color: var(--week-sub-color);
}

.disabled {
  background-color: var(--disabled);
  border-color: var(--disabled);
}

.selected:hover {
  background-color: var(--strong-sub-color);
}

.disabled:hover {
  background-color: var(--disabled);
}
