.container:nth-child(2n) {
    background-color: var(--sub-bg-color);
}

.container{
  padding: var(--s-2);
  min-height: 100vh;
}

.candidate {
  flex: 1 1 calc(var(--s4) * 15 + var(--s-3) * 14 + var(--s0)) ;
}

.calculator {
  flex: 1 1 10rem ;
}

.stocker {
  flex: 1 1 10rem ;
}
