.grid-container {
    flex:  1 0 auto;
    display: grid;
    padding: var(--s-3);
    grid-template-columns: auto 1fr;
    gap: var(--s-5);
}

.label {
    justify-self: end;
    align-self: end;
}

.label::after {
    content: ":";
}

.value {
    justify-self: start;
}

.icon {
    padding: var(--s-5);
    flex: 0 0 auto;
    justify-self: center;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.remove:hover {
    background-color: var(--accent-color);
    color: var(--bgColor);
}
