:host {
  display: inline-block;
  border: var(--border-width) solid var(--font);
  padding: var(--s-4);
}

.container {
  display: flex;
  gap: var(--s-5);
}

.attention {
  box-shadow: 0 0 0 2px var(--accent-color);
}
