<sb-tenky-layout>
  <span class="title">tenkey</span>
  <sb-numeric-button>1</sb-numeric-button>
  <sb-numeric-button>2</sb-numeric-button>
  <sb-numeric-button>3</sb-numeric-button>
  <sb-numeric-button>4</sb-numeric-button>
  <sb-numeric-button>5</sb-numeric-button>
  <sb-numeric-button>6</sb-numeric-button>
  <sb-numeric-button>7</sb-numeric-button>
  <sb-numeric-button>8</sb-numeric-button>
  <sb-numeric-button>9</sb-numeric-button>
  <sb-button class="command">reset</sb-button>
</sb-tenky-layout>
